@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


			<div id="title">
					<h1 class="title">YGO Archives</h1>
					<p class="subtitle">Yu-Gi-Oh! Card Search Engine using YGOPRODECK API</p>
			</div>

			<div id="search">
				<input
				type="text"
				id="card-name"
				name="card-name"
				placeholder="Enter words to search"/>
				<a id="scard"><i></i></a>
			</div>

			<div id="cardlistdiv">
				<p>
					<i></i>&nbspSearch List
				</p>
				<ul id="cardlist"></ul>
			</div>

			<div id="cardinfo">
				<p class="card-header-title">
					<i></i>&nbspCard Info
				</p>

				<ul>
					<li id="cardname"></li>
					<li id="cardtype"></li>
					<li id="cardtext"></li>
				</ul>
			</div>

			<div id="cardimagediv">
				<p>
					<i></i>&nbspImagePreview
				</p>
				<div>
					<img
					src="https://vignette.wikia.nocookie.net/yugioh/images/e/e5/Back-EN.png/revision/latest/scale-to-width-down/500?cb=20100726082133"
					id="cardimage"/>
				</div>
			</div>



