@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">YGO Archives</h1>
    <p>Welcome to YGO Archives V0.1</p>
</div>

<div class="Yugioh-cards">
    <img class"" />
    <p class="id"></p>
    <p class="name"></p>
    <p class="attribute"></p>
    <p class="desc"></p>
    <p class="atk"></p>
    <p class="def"></p>
    <p class="level"></p>
    <p class="race"></p>
    <p class="card_sets"></p>
</div>